#container {
    border: 1px solid red;
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
}

#n1 {
    border: 1px solid blue;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;
}

#n2 {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 12px;
}

#option {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 12px;
}

#button {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 12px;
}

#divresultado{
    text-align: center;
}

span{
    color: red;
}